.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid rgb(245, 240, 240);
}

.header__logo {
  cursor: pointer;
  height: 48px;
  object-fit: contain;
  margin-left: 15px;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__input {
  display: flex;
  align-items: center;
  border: 1px solid rgb(88, 86, 86);
  width: 40%;
}

.header__input > input {
  flex: 1;

  border: none;
  outline: none;
}

.header__icons {
  display: flex;
  align-items: center;
}
/* .header__inputButton {
} */
.header__input a {
  background-color: rgba(241, 245, 250, 0.993);
  border-left: 1px solid lightgray;
  color: gray;
  width: 2.1rem !important;

  padding: 5px;
  cursor: pointer;
}

.header__icon {
  margin-right: 10px;
}
